header{
    text-align: center;
}

#hd-img{
    width: auto;
    text-align: center;
    margin: 0 auto;
}

main{
    text-align: center;
}

ul{
    list-style: none;
    display: inline-flex;
}
.img-footer {
	display: inline-flex;
}

.actor-pic{
    width: 180px;
    height: 240px;
    margin: 5px;
}

.poster {
    width: 300px;
    height: auto;
}

.element{
    margin: 5px 0;
    padding: 5px;
    font-size: 1.5em;
}

.element:hover{
    color: white;
    background-color:cadetblue;
    text-decoration: none;
}

