header{
    text-align: center;
}

#hd-img{
    width: auto;
    text-align: center;
    margin: 0 auto;
}

main{
    text-align: center;
}

ul{
    list-style: none;
    display: inline-flex;
    vertical-align: middle;
    margin: 10px 0;
}

.top-nav{
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    border-color: cornflowerblue;

}
.img-footer {
	display: inline-flex;
}

.actor-pic{
    width: 180px;
    height: 240px;
    margin: 5px;
    border-radius: 5px;
}

.poster {
    width: 300px;
    height: auto;
}

.element{
    height: 40px;
    margin: 0;
    padding: 5px;
    font-size: 1.5em;
    display: inline;
}

.element:hover{
    background-color:cornflowerblue;
    text-decoration: none;
}

i{
    margin: 3px;
}

header{
    background-color: white;
}

iframe{
    margin: 5px;
    border-radius: 5px;
}

footer{
    background-color: #2A2D2F;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
}

h1{
    color:cornflowerblue;
    margin: 5px;
}

.top-nav>li>a:hover{
    color: white;
    text-decoration: none;
}

.ftl{
    color: white;
    text-decoration: none;
}
.ftl:hover{
    color:darkgrey;
    text-decoration: none;
}

.top-nav>li>a{
    color: cornflowerblue;
}

.footer-img{
    height: 60px;
    width: auto;
    margin: 8px 0;
}

li{
    margin: 0 3px;
}
